.container {
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btnExcluir {
    background-color: #ff0000;
}

button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.evaluation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.evaluation-actions button {
  margin-left: 5px;
}

footer {
  text-align: center;
  font-size: small;
  padding: 5px;
}
